:root {
  --font-color: #a8afbf;
  --bg-color: #141c30;
  --small-text-color: #0179fb;
  --container-bg: #1f2a48;
  --light-theme-bg: #f5f8ff;
  --light-theme-container-bg: #fefefe;
  --light-theme-font-color: #515559;
}
*:focus {
  outline: none;
}
body {
  font-family: "Roboto Mono", monospace;
  background-color: var(--bg-color);
  text-align: center;
  color: var(--font-color);
}
.container {
  width: 400px;
  margin: 0 auto;
  background-color: var(--container-bg);
}
.search-container {
  width: 400px;
  margin: 0 auto;
  background-color: var(--container-bg);
}
.top {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
