:root {
  --font-color: #a8afbf;
  --bg-color: #141c30;
  --small-text-color: #0179fb;
  --container-bg: #1f2a48;
  --light-theme-bg: #f5f8ff;
  --light-theme-container-bg: #fefefe;
  --light-theme-font-color: #515559;
}

body {
  font-family: "Inter Tight", sans-serif;
  background-color: var(--bg-color);
  text-align: center;
}
h3,
h4 {
  margin-bottom: 10px;
}
.container {
  width: 450px;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  align-self: center;
  padding: 15px;
  color: var(--font-color);
  background-color: var(--container-bg);
}
.header {
  width: 450px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  align-self: center;
  padding: 5px;
  color: var(--font-color);
}
