:root {
  --font-color: #a8afbf;
  --bg-color: #141c30;
  --small-text-color: #0179fb;
  --container-bg: #1f2a48;
  --light-theme-bg: #f5f8ff;
  --light-theme-container-bg: #fefefe;
  --light-theme-font-color: #515559;
}
*:focus {
  outline: none;
}
body {
  font-family: "Roboto Mono", monospace;
  background-color: var(--bg-color);
  text-align: center;
  color: var(--font-color);
}
.container {
  width: 400px;
  margin: 0 auto;
  background-color: var(--container-bg);
}
.search-container {
  width: 400px;
  margin: 0 auto;
  background-color: var(--container-bg);
  border-radius: 9px;
}
.top {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.fa-magnifying-glass {
  color: var(--small-text-color);
}
.search-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 10px 15px;
}
.container {
  width: 400px;
  margin-top: 15px;
  padding: 10px 15px;
  border-radius: 9px;
}
input[type="search"] {
  background-color: var(--container-bg);
  border: none;
}
input[type="submit"] {
  background-color: var(--small-text-color);
  color: white;
  padding: 7px 6px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
::placeholder {
  color: var(--font-color);
  font-size: 16px;
}
input[type="submit"]:hover {
  background-color: var(--container-bg);
  color: var(--font-color);
}
i {
  color: var(--small-text-color);
  cursor: pointer;
}
img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 4px solid var(--small-text-color);
}
h5 {
  margin-top: 8px;
  color: var(--small-text-color);
  margin-bottom: 5px;
}
h2 {
  margin-top: 5px;
  color: white;
}
#username-id {
  font-weight: bold;
  margin-bottom: 0;
  color: white;
}
#handle {
  color: var(--small-text-color);
}
#date-joined {
  margin-top: 5px;
  margin-bottom: 0;
}
#bio-text {
  margin-bottom: 5px;
}
.followers-container {
  display: flex;
  justify-content: space-evenly;
}
.geo-container {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
